body {
  background-color: #ffffff;
}

body,
html {
  height: 100%;
  margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #618e7d;
  text-align: center;
  padding: 14px;
}

.topnav a {
  color: #ffffff;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font: "Lora";
  font-size: 20px;
}

.topnav a:hover {
  background-color: #f2e07f;
  transition: 0.3s;
}

.topnav a.active {
  background-color: #f2e07f;
  color: #618e7d;
}

/* Container holding the image and the text */
.imagecontainer {
  position: relative;
  text-align: center;
  color: white;
}

.imagecontainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Centered text */
.centered {
  font: "Lora";
  font-size: 80px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  color: black;
  text-align: center;
  width: 60%;
  margin: auto;
  font: "Lora";
  font-size: 17px;
  padding-top: 10px;
}

div.gallery img {
  width: 100%;
  height: auto;
  padding: 30px 0px 30px 0px;
}

* {
  box-sizing: border-box;
}
.responsive {
  padding: 0 0px;
  float: left;
  width: 24.99999%;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #618e7d;
  color: #ffffff;
  padding: 5px;
  margin-top: 20px;
}

.column {
  width: 22%;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 2px;
}

/* Four columns side by side */
.team-column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .team-column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.team-para {
  margin: 0;
  padding: 40px;
  border-radius: 5px;
}

.Menu {
  width: 80%;
  margin: auto;
  text-align: center;
  border-color: #5b8e7d;
  /* border-style: dashed; */
  padding: 2em;
}
article {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.left {
  font-weight: 600;
}
article p {
  font-size: 1.25em;
  margin-bottom: 0;
}
.ingredients {
  margin-top: 0%;
  color: #8cb369;
  text-align: left;
}
main :nth-child(3) h2 {
  color: #5b8e7d;
  margin-top: 1.5em;
}
main :nth-child(3) .ingredients {
  color: #5b8e7d;
}
main :nth-child(4) h2 {
  color: #8cb369;
}
main :nth-child(4) .ingredients {
  color: #8cb369;
}
main :nth-child(5) h2 {
  color: #f4a259;
}
section h2 {
  font-size: 2.5em;
}
main h1 {
  font-style: italic;
  font: 3em;
  margin-bottom: 0%;
}

#map {
  width: 100%;
  height: 500px;
}
