body {
  background-color: #f4e285;
}

.header {
  text-align: center;
  padding-bottom: 30px;
  color: #8cb369;
}

.topnav {
  overflow: hidden;
  background-color: #8cb369;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px #f4a259;
}

.topnav a {
  color: #bc4b51;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  border-right: 1px solid #f4e285;
}

.topnav a:hover {
  background-color: #f4e285;
  transition: 0.3s;
}

.topnav a.active {
  background-color: #f4a259;
}

h2 {
  text-align: center;
  color: #8cb369;
}

.content {
  color: #bc4b51;
  text-align: center;
  width: 70%;
  margin: auto;
}

div.gallery img {
  width: 100%;
  height: auto;
  padding: 30px 0px 30px 0px;
}

* {
  box-sizing: border-box;
}
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #8cb369;
  color: #bc4b51;
  padding: 5px;
}

.column {
  width: 22%;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 2px;
}
